/* Loading Fonts for each section*/ 
@font-face {
    font-family: 'Main-Font';
    src: url("/static/Font/Bold.otf");
}
@font-face{
    font-family:'ContentFont';
    src:url("/static/Font/Medium.otf");
}

@font-face{
    font-family: 'EmailFont';
    src:url("/static/Font/email_address.otf");
}

@font-face{
    font-family: 'Kdud';
    src:url("/static/Font/kdud.otf");
}
html{
    box-sizing: border-box;
    font-size: 100%;
}

/*Styling for the nav bar*/

.nav-container{
    width:85%;
    margin:4% auto;
    font-family: 'Main-Font';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}


.nav-links{
    border-top:5.5px solid rgba(0,0,0,0.8);
    width:41%;
    display: flex;
    flex-wrap:nowrap;
    padding-top:7px;
}

.nav-links a{
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color:rgba(0,0,0,0.8);
    font-size:1.35vw;
    margin:3% auto 3%;
    padding:0px;
    transition:width 0.5s ease-out;
}

.nav-links a:hover{
    color: grey;
    font-size:1.45vw;
}

/*Styling for SA logo*/

.logo{
    width:14.7%;
    margin:auto;
    padding-bottom: 10px;
}

.logo img{
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
}

/*Styling for Social Media Icons in Navbar*/

.icon-list{
    display: flex;
    border-top:5.5px solid rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    width:38%;
    /*height: 50%;*/
    padding-top:4px;
}


.icon-list a {
    width:2.3vw;
    height:1.8vw;
    display:flex;
    justify-content: space-around;
    margin:3% 2% 3%;
    
}

.icon-list-img{
    margin: auto;
    width:100%;
    height: 100%;
    transition: height 0.2s ease-out;
}

.icon-list-img:hover{
    height:120%;
}

/*Styling for each page */

.page{
    width:85%;
    font-family: 'Main-Font';
    height:auto;
    margin:6% auto 0%;
    padding-left: 10%;
    padding-top:1%;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    position:relative;
}


.container img{
    max-width:33%;
    height: auto;
    /*padding-top: 4%;*/
}

#arrow1{
    width:3%;
    position: absolute;
    min-height:30%;
    top:40vw;
    right:2vw;
}



/*Styling for footer icons*/

.footer{
    width:85%;
    margin:8% auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-icons{
    border: none; 
    width:85%;
    display: flex;
}

#footer-icons a{
    margin: 0% 0.8%;
}


@media (min-device-width:501px) and (max-device-width:1023px){
    .nav-links{
        border-top:3px solid rgba(0,0,0,0.8);

    }

    .icon-list{
        border-top:3px solid rgba(0,0,0,0.8);
        padding-top:6.45px;
    }
    
}


/*Media Query for extra small devices*/

@media (max-device-width: 500px){

    /*Navbar styling */
    .nav-container{
        margin: 6% auto;
    }

    .nav-links{
        border-top:2px solid rgba(0,0,0,0.8);
        width:65%;
        display: flex;
        flex-wrap:nowrap;
        align-self: flex-end;
    }

    .nav-links a{
        font-size: 2.8vw;
        margin-top: 3%;
    }

    .nav-links a:hover{
        color: rgba(0,0,0,0.8);
        font-size:2.8vw;
    }

    .logo{
        width:24%;
        padding-bottom:10px;
        margin-right: 0px;
    }

    .logo img{
        display: flex;
        width:100%;
        height:100%;
    }

    .nav-container .icon-list{
        visibility: hidden;
        width:0px;
        height: 0px
    }

    /*Styling for each page */
    .page{
        width:85%;
        font-family: 'Main-Font';
        height:auto;
        padding-left:0%;
        padding-top:0%;
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: space-around;
    }

    .container img{
        max-width:100%;
        height: auto;
    }

    #arrow1{
        width:3%;
        position: absolute;
        min-height:30%;
        top:110vw;
        right:8vw;
    }

}

