@font-face {
    font-family: 'Main-Font';
    src: url("/static/Font/Bold.otf");
}
@font-face{
    font-family:'ContentFont';
    src:url("/static/Font/Medium.otf");
}

@font-face{
    font-family: 'EmailFont';
    src:url("/static/Font/email_address.otf");
}

@font-face{
    font-family: 'Kdud';
    src:url("/static/Font/kdud.otf");
}
html{
    box-sizing: border-box;
    font-size: 100%;
}

/*Styling for the nav bar*/
.nav-container{
    width:85%;
    margin:3% auto;
    font-family: 'Main-Font';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}


.nav-links{
    border-top:5.5px solid rgba(0,0,0,0.8);
    width:40%;
    display: flex;
    flex-wrap:nowrap;
    height: 50%;
    padding-top:7px;
}

.nav-links a{
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color:rgba(0,0,0,0.8);
    font-size:1.35vw;
    margin:3% auto 3%;
    padding:0px;
}

.nav-links a:hover{
    color: grey;
}

/*Styling for SA logo*/

.logo{
    width:15%;
    margin:auto;
    padding-bottom: 10px;
}

.logo img{
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
}

/*Styling for Social Media Icons*/
.icon-list{
    display: flex;
    border-top:5.5px solid rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    width:38%;
    /*height: 50%;*/
    padding-top:4px;
    /*align-self: flex-end;*/
}


.icon-list a {
    width:2.3vw;
    height:1.8vw;
    display:flex;
    justify-content: space-around;
    margin:3% 2% 3%;
}

.icon-list-img{
    margin: auto;
    width:100%;
    height: 100%;
}

/*Styling for each page */

.page{
    width:85%;
    font-family: 'Main-Font';
    height:85vh;
    margin:6% auto 0%;
    padding-left: 10%;
    padding-top:1%;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}


.container img{
    max-width:33%;
    height: auto;
    /*padding-top: 4%;*/
}


/*Styling for footer*/

.footer{
    width:85%;
    margin:8% auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-icons{
    border: none; 
    width:85%;
    display: flex;
}

#footer-icons a{
    margin: 0% 0.8%;
}