.contact-info{
	display:flex;
	flex-direction: column;
	/*justify-content:center;*/
	/*align-items: center;*/
	margin-left: 8%;
	margin-top:5%;
}

.contact-info a{
	text-decoration: none;
	color:rgba(0,0,0,0.8);
	text-transform: uppercase;
	font-size:1.5vw;
}

.contact-info p{
	font-family: 'ContentFont';
	padding-right:10%;
	font-size: 1.4vw;
}

#contact-email{
	font-family: 'EmailFont';
	text-transform: lowercase;
	display: inline-block;
}