.contact-info{
	display:flex;
	flex-direction: column;
	margin-left: 8%;
	margin-top:5%;
	width:100%;
}

.contact-info h2{
	text-decoration: none;
	color:rgba(0,0,0,0.8);
	text-transform: uppercase;
	font-size:1.5vw;
}

.contact-info p{
	font-family: 'ContentFont';
	padding-right:10%;
	font-size: 1.4vw;
}

#contact-email{
	font-family: 'EmailFont';
	text-transform: lowercase;
	text-decoration: none;
	color:rgba(0,0,0,0.8);
	font-size: 1.6vw;
}


#arrow3{
	position: relative;
	width:0;	
    right:2vw;
    height:18vw;
	border-left:5px solid rgba(0,0,0,0.8);
}

@media (min-device-width:501px) and (max-device-width:1023px){

	#arrow3{
		border-left:3px solid rgba(0,0,0,0.8);
	}

}

/*Media Query for extra small devices*/

@media (max-device-width: 500px){

	#contact-image{
		visibility: hidden;
		width:0%;
		height: 0%;
	}

	.contact-info{
		margin-left:2%;
		margin-top:0%;
	}

	.contact-info h2{
		font-size:3vw;
	}

	.contact-info p{
		font-size: 3vw;
	}

	#contact-email{
		font-size:3vw;
	}

	.footer .icon-list{
		justify-content: flex-start;
		margin:8% auto;
		width: 100%;
	}
	.footer .icon-list a{
		width:8vw;
    	height:4vw;
    	display:flex;
	}
	#footer-icons{
    	border: none; 
    	width:100%;
    	display: flex;
	}

	#footer-icons a{
    	margin: 0% 0.8%;
	}	

	#arrow3{
		position: absolute;
		width:0;	
	    right:0vw;
	    top:-11vw;
	    height:18vw;
		border-left:1.5px solid rgba(0,0,0,0.8);
	}

}
