.home-page{
    width:85%;
    font-family: 'Main-Font';
    margin:auto;
    /*position: fixed;
    bottom:0;*/
}

.container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	/*margin:1.66%;/*/
	align-items: flex-start;
	/*background-color:green;*/
}


.layout{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.layout a{
	max-width:80%;
	/*text-align: center;*/
	text-decoration: none;
	text-transform: uppercase;
	color:black;
	/*object-fit: contain;*/
}
.layout img{
	max-width:85%;
	height: auto;
	padding-top: 4%;
}


