.home-info{
	display:flex;
	flex-direction: column;
	/*justify-content:center;*/
	/*align-items: center;*/
	margin-left: 8%;
	margin-top:5%;
}

.home-info a{
	text-decoration: none;
	color:rgba(0,0,0,0.8);
	text-transform: uppercase;
	font-size:1.5vw;
	font-family: 'ContentFont';

}

#home img{
	border-bottom: 5.5px solid rgba(0,0,0,0.8);
	padding-bottom: 2vh;
	width:40%;
}

#home-button{
	background-color: white;
	border:5px solid rgba(0,0,0,0.8);
	width:46%;
	font-size:1.4vw;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Main-Font';
	padding:2% 0% 0%;
} 

.home-info h1{
	font-family: 'Kdud';
	color: rgba(0,0,0,0.8);
	margin-top:2%;
}