.tour-info{
	display:flex;
	flex-direction: column;
	margin-left:8%;
	margin-top:5%;
}

.tour-info h2{
	text-decoration: none;
	color:rgba(0,0,0,0.8);
	text-transform: uppercase;
	font-size:1.5vw;
}

.tour-info .row{
	display:flex;
}

.tour-info span{
	font-size: 1.4vw;
}

/*Media Query for extra small devices*/

@media (max-device-width: 500px){
	
	#tour img{
		visibility: hidden;
		width:0%;
		height: 0%;
	}

	.tour-info{
	margin-left:2%;
	margin-top:0%;
	}

	.tour-info h2{
		font-size:3vw;
	}

	.tour-info p{
		font-size: 3vw;
	}

}
