.tour-info{
	display:flex;
	flex-direction: column;
	/*justify-content:center;*/
	/*align-items: center;*/
	margin-left: 8%;
	margin-top:5%;
}

.tour-info h2{
	text-decoration: none;
	color:rgba(0,0,0,0.8);
	text-transform: uppercase;
	font-size:1.5rem;
}


.tour-info ul{
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: 'ContentFont';
}

.tour-info ul li{
	display: flex;
	flex-direction: row;
	margin-right: :10%;
	margin-top:2%;
}



