{% load static%}
<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" href="{% static 'Favicon.svg' %}" type="image/icon type">
    <title>Sid Acharya</title>
    <link href = "{% static 'css/base.css' %}" rel="stylesheet">
    <link href = "{% static 'css/home.css' %}" rel="stylesheet">
    <link href = "{% static 'css/story.css' %}" rel="stylesheet">
    <link href = "{% static 'css/tour.css' %}" rel="stylesheet">
    <link href = "{% static 'css/contact.css' %}" rel="stylesheet">
</head>
    <body>
        <!-- Navbar -->
        <div class = "nav-container">
                <div class= "nav-links">
                    <a href="#story">Story</a>
                    <a href="#tour">Tours</a>
                    <a href="#contact">Contact</a>
                </div>

                <div class = "logo">
                    <a href = "{% url 'home' %}"><img src = "{% static 'Logo.svg' %}"></a>
                </div>

                <div class = "icon-list">
                    <a href ="#"><img src="{% static 'social/am.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/bc.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/fb.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/ig.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/spo.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/tw.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/scl.svg' %}" class = "icon-list-img"></a>
                </div>
        </div>

        <!-- Home -->
        <div class = "page" id="home">
            <div class = "container">
                <img src = "{% static 'Stories-Of-Charlottetown.jpg' %}">

                <div class = "home-info">
                    <h2>/ New Single/</h2>
                    <h1>Alone, Alone ft.Kierrah</h1>
                    <a href="#" id="home-button">Listen Now!</a>
                </div>
            </div>
        </div>

        <!-- Arrow -->
        <div id="arrow1">
            <img src = "{% static 'Scroll.svg' %}">
        </div>

        <!-- Story -->
        <div class = "page" id="story">
            <div class = "container">
                <img src = "{% static 'S12.jpg' %}">
                <div class = "story-info">
                    <h2>Story //</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>    
                </div>
            </div>
        </div>

        <!-- Arrow -->
        <!-- <div id = "arrow2">
            
        </div>
 -->
        <!-- Tour -->
        <div class = "page" id="tour">
            <div class = "container">
                <img src = "{% static 'S65.jpg' %}">

                <div class = "tour-info">
                    <h2>Tours //</h2>
                    <div class = "row">
                        {% for item in tour_info %}
                        <span>//{{ item.dates }}//</span> 
                        <span>{{ item.venue }}</span>
                    </div>
                    <div class = "row">
                        <span>//{{ item.time}}</span>
                        <span>/{{ item.band }}/</span> 
                        {% endfor %} 
                    </div>
                </div>

            </div>
        </div>

        <!-- Contact -->
        <div class = "page" id ="contact">
            <div class = "container">
                <img src = "{% static 'S64.jpg' %}" id = "contact-image">
                <div class = "contact-info">
                    <h2>Contact //</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href = "mailto:sidacharyamusic@gmail.com" id="contact-email">contact@sidacharyamusic.com</a>    
                </div>
            </div>

            <!-- Footer -->
            <div class="footer">
            <div class = "icon-list" id="footer-icons">
                    <a href ="#"><img src="{% static 'social/am.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/bc.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/fb.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/ig.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/spo.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/tw.svg' %}" class = "icon-list-img"></a>
                    <a href ="#"><img src="{% static 'social/scl.svg' %}" class = "icon-list-img"></a>
                </div>
            </div>
        </div>

    </body>
</html>