{% extends "base.html" %}
{% load static %}

{% block cssfiles %}
    <link href = "{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class = "home-page">
        <div class = "container">
            <div class = "layout">
                <a href= "#">/ Story /</a>
                <img src = "{% static 'S12.jpg' %}">
            </div>
            <div class = "layout">
                <a href = "#">/ Tours /</a>
                <img src = "{% static 'S60.jpg' %}">
            </div>
            <div class = "layout">
                <a href = "#">/ Contact /</a>
                <img src = "{% static 'S6.jpg' %}">
            </div>
        </div>
    </div>
{% endblock %}