{% extends 'base.html' %}
{% load static %}

{% block cssfiles %}
	<link href = "{% static 'css/story.css' %}" rel="stylesheet">
{% endblock cssfiles %}

{% block content %}
	<div class = "story-page">
		<div class = "container">
			<img src = "{% static 'S12.jpg' %}">
			<div class = "story-info">
				<a href = "#">Story //</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>	
			</div>
		</div>
	</div>
{% endblock content %}