{% extends 'base.html' %}
{% load static %}

{% block cssfiles %}
	<link href = "{% static 'css/tour.css' %}" rel="stylesheet">
{% endblock cssfiles %}

{% block content %}
	<div class = "tour-page">
		<div class = "container">

			<img src = "{% static 'S60.jpg' %}">

			<div class = "tour-info">
				<a href = "#">Tours //</a>
				<ul> 
					{% for item in tour_info %}
					<li>//{{ item.dates }}//</li> 
					<li>//{{ item.time}}</li>
					<li>{{ item.venue }}</li>
					<li>/{{ item.band }}/</li> 
					{% endfor %}
				</ul>	
			</div>
		</div>
	</div>
{% endblock content %}