
<!-- {% load static %} -->
<!DOCTYPE html>
<html>
<head>
    <title>Sid Acharya</title>
    <link href = "trial.css" rel="stylesheet">
    <link href = "../static/Font/Bold.otf">
    <!-- {% block cssfiles %}
    {% endblock %} -->
</head>
<body>
    <div class = "container">
        <nav>
            <div class= "nav-links">
                <a href="#">Home</a>
                <a href="#">Story</a>
                <a href="#">Tours</a>
                <a href="#">Contact</a>
            </div>
            <div class = "logo">
                <!-- <img src = "{% static 'Logo.svg' %}"> -->
                <img src = "../static/Logo.svg">
            </div>
            <div class = "icon-list">
                <a href ="#"><img src="../static/social/am.svg"></a>
                <a href ="#"><img src="../static/social/ig.svg"></a>
                <a href ="#"><img src="../static/social/spo.svg"></a>
                <a href ="#"><img src="../static/social/tw.svg"></a>
                <a href ="#"><img src="../static/social/fb.svg"></a>
                <a href ="#"><img src="../static/social/scl.svg"></a>
                <a href ="#"><img src="../static/social/bc.svg"></a>
            </div>
        </nav>
        <div class = "home-page">
                <div class = "layout story">
                    <caption>/Story/</caption>
                    <!-- <img src = "../static/S12.jpg"> -->
                </div>
                <div class = "layout tour">
                    <caption>/Tours/</caption>
                    <!-- <img src = "../static/S60.jpg"> -->
                </div>
                <div class = "layout contact">
                    <caption>/Contact/</caption>
                    <!-- <img src = "../static/S6.jpg"> -->
                </div>
        </div>
    </div>
    <!-- {% block content %}
    {% endblock %} -->
</body>
</html>